
// Rock Paper Scissors SCSS

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 62.5%;   
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bringCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rPsGame {
    height: 650px;
    width: 700px;
    background: #90EE90;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

// ---------------------  Header

header {
    font-family: 'Koulen', 'Arial';
    height: 20%;
    @include bringCenter();
    font-size: 4.5rem;
    text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
    user-select: none;
}

// ----------------------- Game Choices

section {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    position: relative;
    & div {
        width: 25%;
        height: 40%;
        background: yellow;
        border-radius: 50%;
    }
    & > .rock {
        background-image: url(../images/rock.jpg);
        background-size: cover;
        background-position-x: center;
    }
    & > .paper {
        background-image: url(../images/paper.jpg);
        background-size: 100% 150%;
        background-position-y: center;
    }
    & > .scissors {
        background-image: url(../images/scissors.jpg);
        background-size: contain;
        background-position-y: center;
    }
}

h4 {
    font-size: 1.8rem;
    font-family: 'Koulen';
    letter-spacing: 0.1rem;
    position: absolute;
}

.rock.comp::before {
    content: 'Computer';
    font-size: 1.5rem;
    font-family: 'Arial';
    display: block;
    transform: translateX(-3.5rem);
}

.rock.you::before {
    content: 'You';
    font-size: 1.5rem;
    font-family: 'Arial';
    display: block;
}

.you {
    cursor: pointer;
}

// ----------------------- Footer / Scoreboard

footer {
    height: 25%;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    user-select: none;
}

.scoreboard {
    height: 80%;
    width: 35%;
    background: firebrick;
    & .score {
        height: 75%;
        background: black;
        @include bringCenter();
        & > .centerScore {
            height: 75%;
            width: 85%;
            color: white;
            @include bringCenter();
            font-size: 7rem;
            font-family: 'Koulen', 'Arial';
        }
    }
    & > .legs {
        height: 25%;
        background: #90EE90;
        position: relative;
        &::before {
            content: '';
            width: 1em;
            height: 100%;
            background: black;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &::after {
            content: '';
            width: 1em;
            height: 100%;
            background: black;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.playerScore {
    display: block;
    padding-right: 0.2em;
}

.compScore {
    display: block;
    padding-left: 0.2em;
}

// ----------------------- Start / End Screen

.startScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 3;
    @include bringCenter();             // display none for now!
    & > button {
        padding: 1rem 3rem;
        cursor: pointer;
        font-family: 'Koulen', 'Arial';
        font-size: 2rem;
        transition: transform 0.2s ease;
        &:hover {
            transform: translate(0.2rem, 0.2rem);
        }
    }
}

.endScreen {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    z-index: 3;
    @include bringCenter();
    flex-direction: column;
    gap: 3rem;
    display: none;       
    & > button {
        padding: 1rem 3rem;
        cursor: pointer;
        font-family: 'Koulen', 'Arial';
        font-size: 2rem;
        transition: transform 0.2s ease;
        &:hover {
            transform: translate(0.2rem, 0.2rem);
        }
    }
    & > h1 {
        font-size: 5rem;
        color: white;
        font-family: 'Koulen';
        line-height: 1.3;
        margin-bottom: 0.5em;
        text-align: center;
    }
}

.computerSelected {
    background-color: #ffb700;
    background-blend-mode: hard-light;
}

.showEndscreen {
    display: flex;
}

// ----------------------- Media Queries

@media (max-width: 600px) {
    html {
        font-size: 50%;
    }
    .rPsGame {
        width: 95%;
        & section div {
            width: 27%;
            height: 30%;
        }
    }
    section {
        gap: 1.5em;
    }
    .scoreboard {
        width: 45%;
    }
    .rock.comp::before {
        content: 'Comp';
        transform: translateX(-2.3rem);
    }
    .rock.you::before {
        content: 'You';
        font-size: 1.5rem;
        font-family: 'Arial';
        transform: translateX(-1rem);
    }
    h4 {
        font-size: 2rem;
    }
}